@mixin checkBox{
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
}


*{
  margin: 0;
  padding: 0;
}

.checkBox{
  @include checkBox()
}

body{
  background-color: rgb(91, 91, 91);
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // Input Form
  >:nth-child(1){
    
    >div{
      display: grid;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      // text-align: center;
      width: 50%;
      height: 50%;
      >:nth-child(1){
        display: inline-block;
        padding-left: 1vw;
      }
      // div
      >:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
        
        >input{
          width: 50vw;
          height: 5vh;
          margin: 10px;
          border-radius: 5px;
          border-style: hidden;
        }
      }
    }
  }
}


